{% extends 'base.html' %}

{% block content %}
   

      <div class="raw" style="margin-top:10%">
            <center>
                <button type="button" class="btn btn-primary" id="confirm_student">
                         我是学生
                </button>
            </center>
      </div>

      <div class="raw" style="margin-top:10%">
            <center>
                <button type="button" class="btn btn-primary" id="confirm_teacher">
                         我是老师
                </button>
            </center>
      </div>



{% endblock %}
